{% extends 'base.html.twig' %}

{% block title %}Créer un guide{% endblock %}

{% block body %}
<h1>editer un guide</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Enregistrer</button>
{{ form_end(form) }}

<a href="{{ path('guide_index') }}">⬅ Retour à la liste</a>
{% endblock %}
